

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#realEstimate {
  color: #81bd7b;
}

input[type="number"] {
  height:48px;
  font-size:125%;
}



.real-estimate {

}

