<!DOCTYPE html  ng-app>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>12G Task Scheduler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="components/modernizer/modernizer.js"></script>
        <script src="components/angular/angular.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body ng-app>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Real Estimates</a>
                </div>
            </div>
        </div>


        <div class="container" ng-controller="RealEstimate">

            <h1>Calculate a Real Estimate</h1>
            <p>Fill in the form below to calculate your real estimate</p>
            <form id="realEstimateInput" class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="estimate">Unbuffered Estimate</label>
                <div class="controls">
                  <input
                    type="number"
                    placeholder="e.g. 90"
                    ng-model="estimate"
                    name="estimate"
                    required
                    ng-required="true">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="confidence">How Risky?</label>
                <div class="controls">
                  <input
                    type="number"
                    placeholder="1.0 (low) - 10.0 (high)"
                    ng-model="risk"
                    name="risk"
                    required
                    ng-required="true">

                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="buffer">Buffer</label>
                <div class="controls">
                  <input
                    type="number"
                    id="buffer"
                    value="1.25"
                    ng-model="buffer"
                    required
                    ng-required="true">

                </div>
              </div>
            </form>


            <!-- Example row of columns -->
            <div class="row real-estimate">
                <div class="span12">
                    <h2>Your Real Estimate Is: {{ estimate * risk * buffer }} minutes!</h2>
                    <span class="calculation">{{estimate}} x {{risk}} x {{buffer}}</span>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; 12G Solutions Inc 2012</p>
            </footer>

        </div> <!-- /container -->

<!--        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
